amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
autobahn==25.10.2
Automat==25.4.16
billiard==4.2.4
cachetools==6.2.1
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
channels==4.3.1
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==5.2.17
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-environ==0.14.0
django-unfold==0.104.1
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
ffmpeg==1.4
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
httplib2==0.31.0
hyperlink==21.0.0
idna==3.19
incremental==24.7.2
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
mutagen==1.47.0
oauthlib==3.3.1
packaging==26.3
pillow==12.3.0
prompt_toolkit==3.0.53
psycopg==3.3.4
psycopg-binary==3.3.4
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-magic-bin==0.4.14
PyYAML==6.0.3
redis==8.1.0
referencing==0.37.0
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==2026.6.3
rsa==4.9.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.6.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
zope.interface==8.0.1
